<ion-header>
  <ion-toolbar>
    <ion-title>
      Cadastro de Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <!-- Inputs with labels -->
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input [(ngModel)]="produto.nome" name="nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descrição</ion-label>
      <ion-input [(ngModel)]="produto.descricao"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Quantidade</ion-label>
      <ion-input [(ngModel)]="produto.quant"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Valor</ion-label>
      <ion-input [(ngModel)]="produto.valor"></ion-input>
    </ion-item>

    <ion-row padding-top>
      <ion-button type="submit">Salvar </ion-button>
      <ion-button type="reset">Limpar </ion-button>
    </ion-row>
  </form>
</ion-content>
